$def with (text="", summary="", languages={})
$var title: Summarizer

<div class="container">
    <div class="row">
        <div class="col-md-offset-1">
            <h2>Autosummarization tool</h2>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <form role="form" class="form-horizontal">
                <textarea class="form-control" name="text" id="text" style="resize: none; font-size:15px; line-height: 120%;" 
                cols="90" rows="15" placeholder="Enter a text to summarize..." required>$text</textarea>    

                <br />

                <button class="btn btn-default btn-sm" type="button" id="showOptions">Show options</button>
                
                <div id="options" style="display:none; margin: 15px;">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="length">Length</label>
                        <div class="col-md-6">
                            <input id="ex1" name="length" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="20" class="form-control" />
                        </div>
                    </div> 

                    <div class="form-group">
                        <label class="control-label col-md-2" for="language">Language</label>
                        <div class="col-md-6">
                            <select class="form-control" name="language" id="language">
                                $for key,name in languages.iteritems():
                                    $if key == "english":
                                        <option value="$key" selected>$name</option>
                                    $else:
                                        <option value="$key">$name</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="scores">Scores</label>
                        <div class="col-md-6"><input id="showScores" name="scores" type="checkbox"></div>
                    </div>
                </div>

                <div class="pull-right">
                    <!-- <button class="btn btn-success btn-lg submits" value="keywords">Keywords</button> -->

                    <div class="btn-group">
                        <a class="btn btn-success btn-lg submits" data-value="keywords">Keywords</a>
                        <a href="#" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="exports" data-value="keywords">Export graph</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-primary btn-lg submits" data-value="summarize">Summarize</a>
                        <a href="#" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="exports" data-value="summarize">Export graph</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- /row -->

    <br />

    <div class="col-md-offset-1 col-md-6 progress progress-striped active" style="display:none;">
        <div class="progress-bar" style="width: 100%"></div>
    </div>

    <div id="results" class="row" style="display:none; margin-bottom: 20px;">
        <div class="col-md-offset-1">
            <h4 id="resulttitle"></h4>
        </div>        
        <div class="col-md-offset-2 col-md-6">    
            <p id="summary"></p>
        </div>
    </div>
</div>        

<script>
    $$(document).ready(function() {
        var options = false;
        $$("#showOptions").on("click", function() {
            if (! options) {
                $$("#options").show();
                $$(this).html("Hide options");
            } else {
                $$("#options").hide();
                $$(this).html("Show options");
            }
            options = !options;
        });

        $$('#ex1').slider({
            formatter: function(value) {
                return value + "%";
            }
        });

        $$("#showScores").bootstrapSwitch();

        $$(".submits").click(function(event) {
            event.preventDefault();
            if ($$("#text").val().length > 0) {
                $$("#results").hide();
                $$(".progress").toggle();
                postData($$(this).data("value"));
            }
        });

        $$(".exports").click(function(event) {
            event.preventDefault();
            if ($$("#text").val().length > 0) {
                $$("#results").hide();
                $$(".progress").toggle();
                exportData($$(this).data("value"));
            }
        });

        function postData(methodName) {
            $$.post("/", {
                text: $$("#text").val(),
                scores: $$("#showScores").bootstrapSwitch('state'),
                length: $$("#ex1").val(),
                language: $$("#language").val(),
                method: methodName
            }, function(data) {
                $$(".progress").toggle();
                var title = methodName == "summarize" ? "Summary:" : "Keywords:"
                $$("#resulttitle").html(title);
                $$("#summary").html(data);
                $$("#results").show();
            });
        }

        function exportData(methodName) {
            nonAjaxPost("/gexf", {
                text: $$("#text").val(),
                language: $$("#language").val(),
                method: methodName
            });
        }

        function nonAjaxPost(action, input) {
            'use strict';
            var form;
            form = $$('<form />', {
                action: action,
                method: "POST",
                style: 'display: none;'
            });
            if (typeof input !== 'undefined' && input !== null) {
                $$.each(input, function (name, value) {
                    $$('<input />', {
                        type: 'hidden',
                        name: name,
                        value: value
                    }).appendTo(form);
                });
            }
            form.appendTo('body').submit();
        }

    });
</script>