$def with (default_text="", summary="")
$var title: Summarizer

<div class="row">
	<div class="col-md-offset-1 col-md-8">
		<h1>Autosummarization tool</h1>
	</div>
</div>

<br />

<div class="row">
	$if default_text != "":
	<div class="col-md-offset-1 col-md-8">
		<form method="POST">
			<textarea name="text" id="text" style="resize: none;" cols="80" rows="20">$default_text</textarea>    

			<br />
			<input type="submit" value="Summarize!">
		</form>
	</div>

	$if summary != "":
	<div class="col-md-offset-1 col-md-6">
		<p>$summary</p>
	</div>
	<div class="col-md-5"></div>
</div>

<button id="submit" type="button" onclick="postData();">Click Me!</button>

<script type="text/javascript">
	function postData() {
		var data = {};
		data["name"] = "juan";
		data["last"] = "satasa";
		$$.ajax({
			type: "POST",
			url: "http://localhost:8080/foo",
			data:  data,
			success: function(data, status) {
				alert(data.nombre);
			}
		});
	}
</script>