$def with (content)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Summa &ndash; $content.title</title>

    <!-- Bootstrap: theme obtenido de http://bootswatch.com/paper/  SummaBlue: #2196f3-->
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <link href="./static/css/slider.css" rel="stylesheet">
    <link href="./static/css/bootstrap-switch.css" rel="stylesheet">
    <link href="./static/css/textrank-web.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico">
</head>

<body>
    <div id="navbar">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="./static/img/logo.png"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/about">About</a></li>
                        <li><a href="http://summanlp.github.io/textrank/" target="_blank">Docs</a></li>
                        <li><a href="https://pypi.python.org/pypi/summa/" target="_blank">PyPI</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    $:content

    <footer id="footer" class="footer">
        <div class="container">
            <p class="text-muted">2014-now Summa NLP, by <a href="mailto:fbarrios@fi.uba.ar" style="color:#dddddd">Federico Barrios</a> and <a href="mailto:fjlopez@fi.uba.ar" style="color:#dddddd">Federico Lopez</a></p>
        </div>
    </footer>

    <script src="./static/js/bootstrap.min.js"></script> 
    <script src="./static/js/bootstrap-slider.min.js"></script>
    <script src="./static/js/bootstrap-switch.min.js"></script>
</body>
</html>
